<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Catalog Management</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
    <div class="container">
        <h1>Product Data Catalog Management</h1>
         <!-- Form for product data input with binding to Product model -->
        <p>Please complete the product data input form:</p>
        <form action="/productData" th:object="${product}" method="get">
            <p> Product Code: <input type="text" th:field="*{productCode}" /></p>
            <p> Product Brand: <input type="text" th:field="*{productBrand}" /></p>
            <p> Quantity in Hand: <input type="text" th:field="*{quantityInHand}" /></p>
            <p> Unit Price: <input type="text" th:field="*{unitPrice}" /></p>
            <p><input type="submit" value="Submit" /> </p>
            <p><input type="reset" value="Reset" /></p>
        </form>
        <p><a href="/index">Cancel</a></p>
    </div>
     <!-- Footer insertion -->
    <div th:insert="footer :: footer"></div>
</body>
</html>
