<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
    <div class="container">
        <h3>Product List</h3>
        
         <!-- Table displaying the list of products -->
        <table>
            <tr>
                <th>Product Code</th>
                <th>Product Brand</th>
                <th>Quantity In Hand</th>
                <th>Unit Price</th>
            </tr>
            
            <!-- Loop through each product in the list and display data -->
            <tr th:each="product : ${products}">
                <td th:text="${product.productCode}"></td>
                <td th:text="${product.productBrand}"></td>
                <td th:text="${product.quantityInHand}"></td>
                <td th:text="${product.unitPrice}"></td>
            </tr>
        </table>
        <a href="/productDataInput">Add Another Product</a>
        <a href="/index">Cancel</a>
    </div>
    
    <!-- Footer insertion -->
    <div th:insert="footer :: footer"></div>
</body>
</html>
