<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="/fragments/general.html :: headerFiles"> </head>
<body>
	<header th:insert="/fragments/general.html :: header"> </header>
	<h3>Member data input form</h3>
	<p> Please complete the member input data form:
    <form action="#" th:action="@{/memberDataInput}" th:object="${member}" method="post">
        <p> Member Name: <input type="text" th:field="*{memberName}" /></p>
        <p> Member Email: <input type="text" th:field="*{memberEmail}" /></p>
        <p> Member Phone: <input type="text" th:field="*{memberPhone}" /></p>   
        <p><input type="submit" value="Submit" /> <br>
        <input type="reset" value="Reset" /></p>
    </form>
    <p> <a href="/index"> Cancel</a> </p>
	
	<div th:replace="/fragments/general.html :: footer"></div>
</body>
</html>